
*.d

*.class

*.o

*.apk

proj.android/gen/com/mitty/herotalk/R.java

proj.android/bin/AndroidManifest.xml

proj.android/obj/local/armeabi/libcpufeatures.a

proj.android/libs/armeabi/libcocos2dcpp.so

proj.android/obj/local/armeabi/libcocos2dcpp.so

proj.android/libs/armeabi/gdb.setup

proj.android/libs/armeabi/gdbserver

proj.android/bin/HeroTalk.ap_

proj.android/bin/dexedLibs/annotations-5bf0a6cd1c05598ce3cc0be4c21629b1.jar

proj.android/bin/classes.dex

proj.android/bin/build.prop

proj.android/bin/jarlist.cache

proj.android/bin/proguard.txt

proj.android/bin/res/drawable-hdpi/icon.png

proj.android/bin/res/drawable-ldpi/icon.png

proj.android/bin/res/drawable-mdpi/icon.png

proj.android/gen/com/mitty/herotalk/BuildConfig.java

*.apk

*.apk

*.apk
