<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>buybtn.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,300},{320,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{320,128}</string>
		</dict>
		<key>diffbtn.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,0},{512,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{512,128}</string>
		</dict>
		<key>pause.png</key>
		<dict>
			<key>frame</key>
			<string>{{708,384},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>popupbg.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{500,300}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{500,300}</string>
		</dict>
		<key>shop_frame.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,128},{256,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>shop_random.png</key>
		<dict>
			<key>frame</key>
			<string>{{756,128},{256,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>store_single.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,300},{256,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>tryagain.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,620},{256,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{256,128}</string>
		</dict>
		<key>whitedot.png</key>
		<dict>
			<key>frame</key>
			<string>{{452,300},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>bg_shop00_bottom@2z.png</key>
		<dict>
			<key>frame</key>
			<string>{{384,300},{320,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{320,68}</string>
		</dict>
		<key>coins.png</key>
		<dict>
			<key>frame</key>
			<string>{{836,384},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>goon.png</key>
		<dict>
			<key>frame</key>
			<string>{{452,384},{256,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{256,128}</string>
		</dict>
		<key>goback.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,748},{256,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{256,128}</string>
		</dict>
		<key>mainscene.png</key>
		<dict>
			<key>frame</key>
			<string>{{512,512},{256,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{256,128}</string>
		</dict>
		<key>Menu_ButtonSina.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,812},{196,196}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{196,196}</string>
		</dict>
		<key>Menu_ButtonSinaPressed.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,812},{196,196}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{196,196}</string>
		</dict>
		<key>store_selectcolor.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,556},{256,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>textureFileName</key>
		<string>buttons.png</string>
		<key>realTextureFileName</key>
		<string>buttons.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
	</dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
</dict>
</plist>
