<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Animal_0008_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteOffset</key>
			<string>{-15, -24}</string>
			<key>spriteSize</key>
			<string>{144, 66}</string>
			<key>spriteSourceSize</key>
			<string>{180, 114}</string>
			<key>textureRect</key>
			<string>{{144, 408}, {144, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Animal_0008_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteOffset</key>
			<string>{-10, -21}</string>
			<key>spriteSize</key>
			<string>{130, 72}</string>
			<key>spriteSourceSize</key>
			<string>{180, 114}</string>
			<key>textureRect</key>
			<string>{{368, 116}, {130, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Animal_0008_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteOffset</key>
			<string>{-15, -30}</string>
			<key>spriteSize</key>
			<string>{150, 54}</string>
			<key>spriteSourceSize</key>
			<string>{180, 114}</string>
			<key>textureRect</key>
			<string>{{300, 498}, {150, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Animal_0008_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteOffset</key>
			<string>{-18, -21}</string>
			<key>spriteSize</key>
			<string>{132, 72}</string>
			<key>spriteSourceSize</key>
			<string>{180, 114}</string>
			<key>textureRect</key>
			<string>{{132, 232}, {132, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Animal_0008_05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteOffset</key>
			<string>{-4, -10}</string>
			<key>spriteSize</key>
			<string>{154, 94}</string>
			<key>spriteSourceSize</key>
			<string>{180, 114}</string>
			<key>textureRect</key>
			<string>{{152, 606}, {154, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Animal_0008_06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteOffset</key>
			<string>{-13, -31}</string>
			<key>spriteSize</key>
			<string>{154, 52}</string>
			<key>spriteSourceSize</key>
			<string>{180, 114}</string>
			<key>textureRect</key>
			<string>{{308, 606}, {154, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Animal_0008_07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteOffset</key>
			<string>{-12, -30}</string>
			<key>spriteSize</key>
			<string>{150, 54}</string>
			<key>spriteSourceSize</key>
			<string>{180, 114}</string>
			<key>textureRect</key>
			<string>{{0, 606}, {150, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Animal_0008_08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteOffset</key>
			<string>{-13, -34}</string>
			<key>spriteSize</key>
			<string>{154, 46}</string>
			<key>spriteSourceSize</key>
			<string>{180, 114}</string>
			<key>textureRect</key>
			<string>{{156, 702}, {154, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Animal_0008_09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteOffset</key>
			<string>{-25, -9}</string>
			<key>spriteSize</key>
			<string>{130, 96}</string>
			<key>spriteSourceSize</key>
			<string>{180, 114}</string>
			<key>textureRect</key>
			<string>{{0, 232}, {130, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Animal_0008_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteOffset</key>
			<string>{8, -19}</string>
			<key>spriteSize</key>
			<string>{136, 76}</string>
			<key>spriteSourceSize</key>
			<string>{180, 114}</string>
			<key>textureRect</key>
			<string>{{0, 330}, {136, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Animal_0008_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteOffset</key>
			<string>{-16, -0}</string>
			<key>spriteSize</key>
			<string>{118, 114}</string>
			<key>spriteSourceSize</key>
			<string>{180, 114}</string>
			<key>textureRect</key>
			<string>{{348, 0}, {118, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Animal_0008_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteOffset</key>
			<string>{16, -19}</string>
			<key>spriteSize</key>
			<string>{148, 76}</string>
			<key>spriteSourceSize</key>
			<string>{180, 114}</string>
			<key>textureRect</key>
			<string>{{150, 498}, {148, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Animal_0008_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteOffset</key>
			<string>{9, -11}</string>
			<key>spriteSize</key>
			<string>{144, 88}</string>
			<key>spriteSourceSize</key>
			<string>{180, 114}</string>
			<key>textureRect</key>
			<string>{{290, 408}, {144, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Animal_0008_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteOffset</key>
			<string>{-7, -6}</string>
			<key>spriteSize</key>
			<string>{124, 102}</string>
			<key>spriteSourceSize</key>
			<string>{180, 114}</string>
			<key>textureRect</key>
			<string>{{242, 116}, {124, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Animal_0008_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteOffset</key>
			<string>{-10, 4}</string>
			<key>spriteSize</key>
			<string>{148, 106}</string>
			<key>spriteSourceSize</key>
			<string>{180, 114}</string>
			<key>textureRect</key>
			<string>{{0, 498}, {148, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Animal_0008_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteOffset</key>
			<string>{-16, -28}</string>
			<key>spriteSize</key>
			<string>{136, 58}</string>
			<key>spriteSourceSize</key>
			<string>{180, 114}</string>
			<key>textureRect</key>
			<string>{{266, 232}, {136, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Animal_0008_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteOffset</key>
			<string>{-34, -0}</string>
			<key>spriteSize</key>
			<string>{106, 114}</string>
			<key>spriteSourceSize</key>
			<string>{180, 114}</string>
			<key>textureRect</key>
			<string>{{0, 0}, {106, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Animal_0008_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteOffset</key>
			<string>{-1, -5}</string>
			<key>spriteSize</key>
			<string>{154, 100}</string>
			<key>spriteSourceSize</key>
			<string>{180, 114}</string>
			<key>textureRect</key>
			<string>{{0, 702}, {154, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Animal_0008_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteOffset</key>
			<string>{-16, -28}</string>
			<key>spriteSize</key>
			<string>{136, 58}</string>
			<key>spriteSourceSize</key>
			<string>{180, 114}</string>
			<key>textureRect</key>
			<string>{{276, 330}, {136, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Animal_0008_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteOffset</key>
			<string>{-25, -0}</string>
			<key>spriteSize</key>
			<string>{118, 114}</string>
			<key>spriteSourceSize</key>
			<string>{180, 114}</string>
			<key>textureRect</key>
			<string>{{228, 0}, {118, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Animal_0008_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteOffset</key>
			<string>{-16, -16}</string>
			<key>spriteSize</key>
			<string>{142, 82}</string>
			<key>spriteSourceSize</key>
			<string>{180, 114}</string>
			<key>textureRect</key>
			<string>{{0, 408}, {142, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Animal_0008_22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteOffset</key>
			<string>{-25, -0}</string>
			<key>spriteSize</key>
			<string>{118, 114}</string>
			<key>spriteSourceSize</key>
			<string>{180, 114}</string>
			<key>textureRect</key>
			<string>{{0, 116}, {118, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Animal_0008_23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteOffset</key>
			<string>{5, -33}</string>
			<key>spriteSize</key>
			<string>{136, 48}</string>
			<key>spriteSourceSize</key>
			<string>{180, 114}</string>
			<key>textureRect</key>
			<string>{{138, 330}, {136, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Animal_0008_24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteOffset</key>
			<string>{-21, -15}</string>
			<key>spriteSize</key>
			<string>{120, 84}</string>
			<key>spriteSourceSize</key>
			<string>{180, 114}</string>
			<key>textureRect</key>
			<string>{{120, 116}, {120, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Animal_0008_25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteOffset</key>
			<string>{-19, -0}</string>
			<key>spriteSize</key>
			<string>{118, 114}</string>
			<key>spriteSourceSize</key>
			<string>{180, 114}</string>
			<key>textureRect</key>
			<string>{{108, 0}, {118, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>textureFileName</key>
		<string>Animal_0008.png</string>
	</dict>
</dict>
</plist>