<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Animal_0006_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteOffset</key>
			<string>{-21, -12}</string>
			<key>spriteSize</key>
			<string>{126, 96}</string>
			<key>spriteSourceSize</key>
			<string>{180, 120}</string>
			<key>textureRect</key>
			<string>{{0, 366}, {126, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Animal_0006_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteOffset</key>
			<string>{-12, -15}</string>
			<key>spriteSize</key>
			<string>{114, 90}</string>
			<key>spriteSourceSize</key>
			<string>{180, 120}</string>
			<key>textureRect</key>
			<string>{{116, 0}, {114, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Animal_0006_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteOffset</key>
			<string>{-24, -9}</string>
			<key>spriteSize</key>
			<string>{126, 102}</string>
			<key>spriteSourceSize</key>
			<string>{180, 120}</string>
			<key>textureRect</key>
			<string>{{128, 366}, {126, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Animal_0006_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteOffset</key>
			<string>{-28, -18}</string>
			<key>spriteSize</key>
			<string>{124, 84}</string>
			<key>spriteSourceSize</key>
			<string>{180, 120}</string>
			<key>textureRect</key>
			<string>{{0, 244}, {124, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Animal_0006_05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteOffset</key>
			<string>{-7, -2}</string>
			<key>spriteSize</key>
			<string>{136, 112}</string>
			<key>spriteSourceSize</key>
			<string>{180, 120}</string>
			<key>textureRect</key>
			<string>{{270, 488}, {136, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Animal_0006_06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteOffset</key>
			<string>{-22, -15}</string>
			<key>spriteSize</key>
			<string>{136, 90}</string>
			<key>spriteSourceSize</key>
			<string>{180, 120}</string>
			<key>textureRect</key>
			<string>{{132, 488}, {136, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Animal_0006_07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteOffset</key>
			<string>{-19, -18}</string>
			<key>spriteSize</key>
			<string>{136, 84}</string>
			<key>spriteSourceSize</key>
			<string>{180, 120}</string>
			<key>textureRect</key>
			<string>{{0, 602}, {136, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Animal_0006_08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteOffset</key>
			<string>{-24, -12}</string>
			<key>spriteSize</key>
			<string>{126, 96}</string>
			<key>spriteSourceSize</key>
			<string>{180, 120}</string>
			<key>textureRect</key>
			<string>{{254, 244}, {126, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Animal_0006_09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteOffset</key>
			<string>{-24, -6}</string>
			<key>spriteSize</key>
			<string>{114, 108}</string>
			<key>spriteSourceSize</key>
			<string>{180, 120}</string>
			<key>textureRect</key>
			<string>{{0, 0}, {114, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Animal_0006_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteOffset</key>
			<string>{-7, -12}</string>
			<key>spriteSize</key>
			<string>{136, 96}</string>
			<key>spriteSourceSize</key>
			<string>{180, 120}</string>
			<key>textureRect</key>
			<string>{{138, 602}, {136, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Animal_0006_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteOffset</key>
			<string>{-28, -0}</string>
			<key>spriteSize</key>
			<string>{124, 120}</string>
			<key>spriteSourceSize</key>
			<string>{180, 120}</string>
			<key>textureRect</key>
			<string>{{122, 122}, {124, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Animal_0006_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteOffset</key>
			<string>{15, -3}</string>
			<key>spriteSize</key>
			<string>{150, 114}</string>
			<key>spriteSourceSize</key>
			<string>{180, 120}</string>
			<key>textureRect</key>
			<string>{{304, 722}, {150, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Animal_0006_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteOffset</key>
			<string>{-6, 3}</string>
			<key>spriteSize</key>
			<string>{126, 114}</string>
			<key>spriteSourceSize</key>
			<string>{180, 120}</string>
			<key>textureRect</key>
			<string>{{382, 244}, {126, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Animal_0006_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteOffset</key>
			<string>{-19, 1}</string>
			<key>spriteSize</key>
			<string>{142, 118}</string>
			<key>spriteSourceSize</key>
			<string>{180, 120}</string>
			<key>textureRect</key>
			<string>{{276, 602}, {142, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Animal_0006_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteOffset</key>
			<string>{-15, -7}</string>
			<key>spriteSize</key>
			<string>{150, 106}</string>
			<key>spriteSourceSize</key>
			<string>{180, 120}</string>
			<key>textureRect</key>
			<string>{{152, 722}, {150, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Animal_0006_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteOffset</key>
			<string>{-28, -18}</string>
			<key>spriteSize</key>
			<string>{124, 84}</string>
			<key>spriteSourceSize</key>
			<string>{180, 120}</string>
			<key>textureRect</key>
			<string>{{374, 122}, {124, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Animal_0006_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteOffset</key>
			<string>{-31, -0}</string>
			<key>spriteSize</key>
			<string>{118, 120}</string>
			<key>spriteSourceSize</key>
			<string>{180, 120}</string>
			<key>textureRect</key>
			<string>{{232, 0}, {118, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Animal_0006_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteOffset</key>
			<string>{6, 4}</string>
			<key>spriteSize</key>
			<string>{150, 112}</string>
			<key>spriteSourceSize</key>
			<string>{180, 120}</string>
			<key>textureRect</key>
			<string>{{0, 722}, {150, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Animal_0006_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteOffset</key>
			<string>{-28, -18}</string>
			<key>spriteSize</key>
			<string>{124, 84}</string>
			<key>spriteSourceSize</key>
			<string>{180, 120}</string>
			<key>textureRect</key>
			<string>{{248, 122}, {124, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Animal_0006_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteOffset</key>
			<string>{-22, -0}</string>
			<key>spriteSize</key>
			<string>{130, 120}</string>
			<key>spriteSourceSize</key>
			<string>{180, 120}</string>
			<key>textureRect</key>
			<string>{{256, 366}, {130, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Animal_0006_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteOffset</key>
			<string>{-18, -4}</string>
			<key>spriteSize</key>
			<string>{120, 112}</string>
			<key>spriteSourceSize</key>
			<string>{180, 120}</string>
			<key>textureRect</key>
			<string>{{0, 122}, {120, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Animal_0006_22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteOffset</key>
			<string>{-21, -0}</string>
			<key>spriteSize</key>
			<string>{126, 120}</string>
			<key>spriteSourceSize</key>
			<string>{180, 120}</string>
			<key>textureRect</key>
			<string>{{126, 244}, {126, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Animal_0006_23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteOffset</key>
			<string>{-3, -24}</string>
			<key>spriteSize</key>
			<string>{150, 72}</string>
			<key>spriteSourceSize</key>
			<string>{180, 120}</string>
			<key>textureRect</key>
			<string>{{0, 838}, {150, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Animal_0006_24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteOffset</key>
			<string>{-10, -7}</string>
			<key>spriteSize</key>
			<string>{130, 106}</string>
			<key>spriteSourceSize</key>
			<string>{180, 120}</string>
			<key>textureRect</key>
			<string>{{0, 488}, {130, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Animal_0006_25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteOffset</key>
			<string>{-28, -4}</string>
			<key>spriteSize</key>
			<string>{118, 112}</string>
			<key>spriteSourceSize</key>
			<string>{180, 120}</string>
			<key>textureRect</key>
			<string>{{352, 0}, {118, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>textureFileName</key>
		<string>Animal_0006.png</string>
	</dict>
</dict>
</plist>