<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Animal_0651_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{328,142},{80,72}}</string>
			<key>offset</key>
			<string>{-4,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,26},{80,72}}</string>
			<key>sourceSize</key>
			<string>{128,100}</string>
		</dict>
		<key>Animal_0651_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,126},{80,70}}</string>
			<key>offset</key>
			<string>{-8,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,28},{80,70}}</string>
			<key>sourceSize</key>
			<string>{128,100}</string>
		</dict>
		<key>Animal_0651_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{398,70},{80,70}}</string>
			<key>offset</key>
			<string>{2,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,28},{80,70}}</string>
			<key>sourceSize</key>
			<string>{128,100}</string>
		</dict>
		<key>Animal_0651_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,68},{68,70}}</string>
			<key>offset</key>
			<string>{-14,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,28},{68,70}}</string>
			<key>sourceSize</key>
			<string>{128,100}</string>
		</dict>
		<key>Animal_0651_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{316,68},{80,70}}</string>
			<key>offset</key>
			<string>{8,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,28},{80,70}}</string>
			<key>sourceSize</key>
			<string>{128,100}</string>
		</dict>
		<key>Animal_0651_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{336,0},{80,66}}</string>
			<key>offset</key>
			<string>{-1,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,32},{80,66}}</string>
			<key>sourceSize</key>
			<string>{128,100}</string>
		</dict>
		<key>Animal_0651_07.png</key>
		<dict>
			<key>frame</key>
			<string>{{254,0},{80,66}}</string>
			<key>offset</key>
			<string>{-7,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,32},{80,66}}</string>
			<key>sourceSize</key>
			<string>{128,100}</string>
		</dict>
		<key>Animal_0651_08.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,0},{80,66}}</string>
			<key>offset</key>
			<string>{8,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,32},{80,66}}</string>
			<key>sourceSize</key>
			<string>{128,100}</string>
		</dict>
		<key>Animal_0651_09.png</key>
		<dict>
			<key>frame</key>
			<string>{{234,68},{80,70}}</string>
			<key>offset</key>
			<string>{-12,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,28},{80,70}}</string>
			<key>sourceSize</key>
			<string>{128,100}</string>
		</dict>
		<key>Animal_0651_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,64},{80,70}}</string>
			<key>offset</key>
			<string>{15,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,28},{80,70}}</string>
			<key>sourceSize</key>
			<string>{128,100}</string>
		</dict>
		<key>Animal_0651_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,140},{80,72}}</string>
			<key>offset</key>
			<string>{-10,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,26},{80,72}}</string>
			<key>sourceSize</key>
			<string>{128,100}</string>
		</dict>
		<key>Animal_0651_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,210},{80,74}}</string>
			<key>offset</key>
			<string>{19,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{43,24},{80,74}}</string>
			<key>sourceSize</key>
			<string>{128,100}</string>
		</dict>
		<key>Animal_0651_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,214},{80,76}}</string>
			<key>offset</key>
			<string>{4,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28,13},{80,76}}</string>
			<key>sourceSize</key>
			<string>{128,100}</string>
		</dict>
		<key>Animal_0651_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,198},{80,74}}</string>
			<key>offset</key>
			<string>{-4,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,20},{80,74}}</string>
			<key>sourceSize</key>
			<string>{128,100}</string>
		</dict>
		<key>Animal_0651_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,274},{80,84}}</string>
			<key>offset</key>
			<string>{-9,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,10},{80,84}}</string>
			<key>sourceSize</key>
			<string>{128,100}</string>
		</dict>
		<key>Animal_0651_16.png</key>
		<dict>
			<key>frame</key>
			<string>{{90,0},{80,62}}</string>
			<key>offset</key>
			<string>{18,-17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42,36},{80,62}}</string>
			<key>sourceSize</key>
			<string>{128,100}</string>
		</dict>
		<key>Animal_0651_17.png</key>
		<dict>
			<key>frame</key>
			<string>{{410,218},{80,84}}</string>
			<key>offset</key>
			<string>{-3,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,6},{80,84}}</string>
			<key>sourceSize</key>
			<string>{128,100}</string>
		</dict>
		<key>Animal_0651_18.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,140},{80,72}}</string>
			<key>offset</key>
			<string>{11,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,18},{80,72}}</string>
			<key>sourceSize</key>
			<string>{128,100}</string>
		</dict>
		<key>Animal_0651_19.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,54},{80,70}}</string>
			<key>offset</key>
			<string>{-2,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,28},{80,70}}</string>
			<key>sourceSize</key>
			<string>{128,100}</string>
		</dict>
		<key>Animal_0651_20.png</key>
		<dict>
			<key>frame</key>
			<string>{{328,216},{80,82}}</string>
			<key>offset</key>
			<string>{-8,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,16},{80,82}}</string>
			<key>sourceSize</key>
			<string>{128,100}</string>
		</dict>
		<key>Animal_0651_21.png</key>
		<dict>
			<key>frame</key>
			<string>{{418,0},{80,68}}</string>
			<key>offset</key>
			<string>{-2,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,30},{80,68}}</string>
			<key>sourceSize</key>
			<string>{128,100}</string>
		</dict>
		<key>Animal_0651_22.png</key>
		<dict>
			<key>frame</key>
			<string>{{410,142},{80,74}}</string>
			<key>offset</key>
			<string>{-5,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,19},{80,74}}</string>
			<key>sourceSize</key>
			<string>{128,100}</string>
		</dict>
		<key>Animal_0651_23.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{88,52}}</string>
			<key>offset</key>
			<string>{9,-22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,46},{88,52}}</string>
			<key>sourceSize</key>
			<string>{128,100}</string>
		</dict>
		<key>Animal_0651_24.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,136},{80,72}}</string>
			<key>offset</key>
			<string>{7,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,26},{80,72}}</string>
			<key>sourceSize</key>
			<string>{128,100}</string>
		</dict>
		<key>Animal_0651_25.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,214},{80,82}}</string>
			<key>offset</key>
			<string>{-5,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,16},{80,82}}</string>
			<key>sourceSize</key>
			<string>{128,100}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>textureFileName</key>
		<string>Animal_0651.png</string>
	</dict>
</dict>
</plist>
