<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TalkContent</key>
	<array>
		<string>99:Talk:这是什么地方？</string>
		<string>99:Talk:好像是学校后山哦。。</string>
		<string>99:Talk:好像远处走来三个人。。。</string>
		<string>100:Talk:大刚：今天的天气还真好啊~</string>
		<string>101:Talk:小明：是啊</string>
		<string>102:Talk:小丽：下节课是体育课吧</string>
		<string>101:Talk:小明： 恩 </string>
		<string>99:Talk:铃铃~~~</string>
		<string>100:Talk:大纲：铃声响了哦</string>
		<string>102:Talk:小丽： 赶紧的。。</string>
	</array>
</dict>
</plist>
