<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>FIND_COLOR:1:1:1:2</string>
	<key>2</key>
	<string>GET_SCORE:200:5</string>
	<key>3</key>
	<string>FIND_COLOR:2:2:2:3</string>
	<key>4</key>
	<string>GET_SCORE:400:5</string>
	<key>5</key>
	<string>FIND_COLOR:2:2:2:2</string>
	<key>6</key>
	<string>GET_SCORE:600:5</string>
	<key>7</key>
	<string>FIND_COLOR:6:6:6:5</string>
	<key>8</key>
	<string>GET_SCORE:800:5</string>
	<key>9</key>
	<string>FIND_COLOR:8:8:8:7</string>
	<key>10</key>
	<string>CHESS_MODE</string>
	<key>11</key>
	<string>FIND_COLOR:10:10:10:8</string>
	<key>12</key>
	<string>GET_SCORE:1200:5</string>
	<key>13</key>
	<string>FIND_COLOR:11:12:13:7</string>
	<key>14</key>
	<string>GET_SCORE:1400:5</string>
	<key>15</key>
	<string>FIND_COLOR:13:14:15:7</string>
	<key>16</key>
	<string>GET_SCORE:400:4</string>
	<key>17</key>
	<string>FIND_COLOR:16:17:18:7</string>
	<key>18</key>
	<string>GET_SCORE:1800:5</string>
	<key>19</key>
	<string>FIND_COLOR:19:20:21:10</string>
	<key>20</key>
	<string>GET_SCORE:400:5</string>
	<key>21</key>
	<string>FIND_COLOR:22:24:26:10</string>
	<key>22</key>
	<string>GET_SCORE:2200:5</string>
	<key>23</key>
	<string>FIND_COLOR:27:30:33:10</string>
	<key>24</key>
	<string>FIND_COLOR:34:38:42:10</string>
	<key>25</key>
	<string>FIND_COLOR:34:45:30:10</string>
	<key>26</key>
	<string>GET_SCORE:2600:5</string>
	<key>27</key>
	<string>FIND_COLOR:15:70:15:5</string>
	<key>28</key>
	<string>FIND_COLOR:43:48:53:9</string>
	<key>29</key>
	<string>FIND_COLOR:43:48:53:8</string>
	<key>30</key>
	<string>CHESS_MODE</string>
	<key>31</key>
	<string>FIND_COLOR:43:48:53:6</string>
	<key>32</key>
	<string>GET_SCORE:2600:4</string>
	<key>33</key>
	<string>FIND_COLOR:43:56:53:8</string>
	<key>34</key>
	<string>FIND_COLOR:12:60:53:10</string>
	<key>35</key>
	<string>FIND_COLOR:60:12:53:10</string>
	<key>36</key>
	<string>GET_SCORE:2600:3</string>
	<key>37</key>
	<string>FIND_COLOR:32:45:65:10</string>
	<key>38</key>
	<string>FIND_COLOR:65:23:53:12</string>
	<key>39</key>
	<string>FIND_COLOR:43:18:70:11</string>
	<key>40</key>
	<string>GET_SCORE:2000:2</string>
	<key>41</key>
	<string>FIND_COLOR:60:48:60:10</string>
	<key>42</key>
	<string>FIND_COLOR:43:60:53:10</string>
	<key>43</key>
	<string>FIND_COLOR:60:48:12:10</string>
	<key>44</key>
	<string>GET_SCORE:1800:3</string>
	<key>45</key>
	<string>FIND_COLOR:43:48:53:10</string>
	<key>46</key>
	<string>FIND_COLOR:43:48:53:10</string>
	<key>47</key>
	<string>FIND_COLOR:43:48:53:10</string>
	<key>48</key>
	<string>GET_SCORE:1000:2</string>
	<key>49</key>
	<string>FIND_COLOR:43:48:53:10</string>
	<key>50</key>
	<string>FIND_COLOR:43:48:53:10</string>
	<key>51</key>
	<string>FIND_COLOR:43:48:53:10</string>
	<key>52</key>
	<string>GET_SCORE:3600:8</string>
	<key>53</key>
	<string>FIND_COLOR:43:48:53:10</string>
	<key>54</key>
	<string>FIND_COLOR:34:20:43:7</string>
	<key>55</key>
	<string>FIND_COLOR:60:25:30:12</string>
	<key>56</key>
	<string>FIND_COLOR:57:12:24:10</string>
	<key>57</key>
	<string>GET_SCORE:3600:7</string>
	<key>58</key>
	<string>FIND_COLOR:23:96:12:6</string>
	<key>59</key>
	<string>FIND_COLOR:65:60:70:10</string>
	<key>60</key>
	<string>FIND_COLOR:30:90:10:10</string>
	<key>61</key>
	<string>FIND_COLOR:10:90:30:10</string>
	<key>62</key>
	<string>GET_SCORE:3600:5</string>
	<key>63</key>
	<string>FIND_COLOR:1:100:1:10</string>
	<key>64</key>
	<string>FIND_COLOR:100:1:1:10</string>
	<key>65</key>
	<string>GET_SCORE:2600:5</string>
	<key>66</key>
	<string>FIND_COLOR:1:1:100:10</string>
</dict>
</plist>
