<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>FIND_COLOR:1:1:1</string>
	<key>2</key>
	<string>GET_SCORE:200</string>
	<key>3</key>
	<string>FIND_COLOR:2:2:2</string>
	<key>4</key>
	<string>GET_SCORE:400</string>
	<key>5</key>
	<string>FIND_COLOR:4:4:4</string>
	<key>6</key>
	<string>GET_SCORE:600</string>
	<key>7</key>
	<string>FIND_COLOR:6:6:6</string>
	<key>8</key>
	<string>GET_SCORE:800</string>
	<key>9</key>
	<string>FIND_COLOR:8:8:8</string>
	<key>10</key>
	<string>GET_SCORE:1000</string>
	<key>11</key>
	<string>FIND_COLOR:10:10:10</string>
	<key>12</key>
	<string>GET_SCORE:1200</string>
	<key>13</key>
	<string>FIND_COLOR:11:12:13</string>
	<key>14</key>
	<string>GET_SCORE:1400</string>
	<key>15</key>
	<string>FIND_COLOR:13:14:15</string>
	<key>16</key>
	<string>GET_SCORE:1600</string>
	<key>17</key>
	<string>FIND_COLOR:16:17:18</string>
	<key>18</key>
	<string>GET_SCORE:1800</string>
	<key>19</key>
	<string>FIND_COLOR:19:20:21</string>
	<key>20</key>
	<string>GET_SCORE:2000</string>
	<key>21</key>
	<string>FIND_COLOR:22:24:26</string>
	<key>22</key>
	<string>GET_SCORE:2200</string>
	<key>23</key>
	<string>FIND_COLOR:27:30:33</string>
	<key>24</key>
	<string>GET_SCORE:2400</string>
	<key>25</key>
	<string>FIND_COLOR:34:38:42</string>
	<key>26</key>
	<string>GET_SCORE:2600</string>
	<key>27</key>
	<string>FIND_COLOR:43:48:53</string>
</dict>
</plist>
